.popup {
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0px;
    bottom: 155px;
    left: 0px;
    right: 0px;
    box-sizing: border-box;
    /*padding: 284px 84px 0px;*/
    display: none;
}

@media screen and (max-width: 400px) {
    .popup {
      top: -315px;
      bottom: 0px;
    }
}