.profile__edit-button {
    margin: 0;
    margin-left: 20px;
    margin-top: 15px;
    background: black;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    max-width: 24px;
    max-height: 24px;
}

@media screen and (max-width: 400px) {
    .profile__edit-button {
        margin-left: 15px;
        margin-top: 5px;
        max-width: 18px;
        max-height: 18px;
    }
}
