.page {
    min-width: 320px;
    /* выше установлена минимальная ширина страницы с учетом внутренних отступов */
    max-width: 1280px;
    /* выше установили ограничение по максимальной ширине с учетом внутренних отступов*/
    margin: 0 auto 0;
    /* выше для экранов больше 1280px отцентрировали весь контент */
    font-family: Inter, Arial, sans-serif;
}