.popup__content {
    /*display: flex;
    flex-direction: column;
    justify-content: space-between;*/
    background-color: white;
    border-radius: 10px;
    max-height: 330px;
    position: relative;
    width: 100%;
    max-width: 430px;
    box-sizing: border-box;
    padding: 35px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 400px) {
    .popup__content {
        max-width: 280px;
        padding: 20px;
    }
}