.header__logo {
    margin: 0;
    margin-bottom: 41px;
    max-width: 142px;
}

.header__logo:hover {
    background: black;
}

@media screen and (max-width: 400px) {
    .header__logo {
        margin-left: 20px;
    }
}