.element__heart-button {
    margin: 0;
    border: none;
    cursor: pointer;
    background-color: white;
    background-image: url(../../../images/heart.svg);
    background-position: center center;
    background-repeat: no-repeat;
    width: 27px;
    background-size: 22px;
}

/*.element__heart-button:hover {
    opacity: .5;
}*/

/*.element__heart-button:active {
    background-image: url(../../../images/black-heart.svg);
    opacity: 1.0;
} */

.element__heart-button-active {
    background-image: url(../../../images/black-heart.svg);
    opacity: 1.0;
}

@media screen and (max-width: 400px) {
    .element__heart-button {
        margin-top: 4px;
    }
}