.profile__title {
    margin: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #FFFFFF;
}


  
@media screen and (max-width: 400px) {
    .profile__title {
        font-size: 27px;
        line-height: 33px;
    }
  } 