.profile__add-button {
    margin: 0;
    margin-top: 30px;
    /*margin-left: 75px;*/
    align-self: flex-end;
    background: black;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    width: 150px;
    height: 50px;
    cursor: pointer;
    opacity: 1.0;
    background-image: url(../../../images/plus.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 1000px) {
    .profile__add-button {
        align-self: center;
        width: 280px;
        background-size: 16px;
    }
}

