.elements {
    margin: 50px auto 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    list-style: none;
    padding-inline-start: 0;
    justify-items: center;
}