.footer__text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}

@media screen and (max-width: 400px) {
  .footer__text {
      margin-left: 20px;
  }
}